<!doctype html>
<html>
<head>
    <title>Shooter</title>
</head>
<body>
<canvas id="app"></canvas>
<script src="/socket.io/socket.io.js"></script><% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script src='<%= htmlWebpackPlugin.files.chunks[chunk]["entry"] %>'></script><% } %>
</body>
</html>
